{
    "DATABASE": "./common.db",
    "DEBUG": "True",
    "SECRET_KEY": "secret_key",
    "USERNAME": "admin",
    "PASSWORD": "admin_password",
    "UPLOAD_FOLDER": "./static",
    "CORS_HEADERS": "Content-Type",
    "MYSQL_DATABASE_USER": "appname-api",
    "MYSQL_DATABASE_PASSWORD": "database_password",
    "MYSQL_DATABASE_DB": "appname",
    "MYSQL_DATABASE_HOST": "127.0.0.1"
}